# Ignorar arquivos do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar ambientes virtuais
venv/
.env
.envrc

# Ignorar arquivos do VSCode
.vscode/

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db

# Ignorar notebooks checkpoints
.ipynb_checkpoints/

# Ignorar banco local e PDFs
history.db
*.pdf

# Ignorar logs
*.log