# Ignorar arquivos grandes
models/*.pkl
data/*.csv
data/*.png
data/*.json

# Ignorar arquivos do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar ambientes virtuais
venv/
.env
.envrc

# Ignorar arquivos do VSCode
.vscode/

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db

# Ignorar notebooks checkpoints
.ipynb_checkpoints/